@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    font-family: 'Inter', cursive, sans-serif;
    width: 1440
}

header {
    background-color: #303030;
    color: #fff;
    height: 475px;
}

header h1 {
    height: 72px;
    padding-top: 206px;
    margin-left: 62px;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.5%;
}

header p {
    height: 28px;
    padding-top: 30px;
    margin-left: 62px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

#informacoes {
    background-color: #ebe9e9;
    display: flex;
    justify-content: space-evenly;
    height: 229px;
    padding-top: 54px;
}

#informacoes p {
    padding-top: 70px;
    font-size: 40px;
    line-height: 28px;
    font-weight: bold;
}

span {
    font-size: 20px;
    font-weight: 400;
}

article {
    display: flex;
    padding-top: 80px;
    margin-left: 280px;
}

article h2 {
    padding-top: 220px;
    margin-right: 300px;
    line-height: 20px;
    font-size: 40px;
    font-weight: 500;
}

article p {
    padding-top: 40px;
    text-align: justify;
    line-height: 30px;
    font-size: 24px;
    font-weight: 300
    ;
}

img {
    width: 510px;
    height: 605px;
    border-radius: 30px;
}

footer {
    background-color: #303030;
    color: #ffffff;
    height: 638px;
    margin-top: 100px;
    text-align: center;
}

footer h3 {
    font-size: 32px;
    padding-top: 120px;
    font-weight: 700;
    line-height: 48px;
}

form {
    padding-top: 50px;
}

input {
    outline: none;
    cursor: pointer;
    width: 508px;
    height: 60px;
    margin: 15px;
    padding-left: 20px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway' cursive, sans-serif;
}

button {
    background-color: #c07212;
    color: #ffffffd5;
    cursor: pointer;
    height: 62px;
    width: 286px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-family: 'Raleway' cursive, sans-serif;
    font-size: 25px;
    line-height: 30px;
}

button:hover{
    background-color: #c27a22fd;
    border: none;
    color: #fff;
    font-weight: 700;
    transform: translateY(-8px);
    box-shadow: 2px 3px 3px rgba(236, 134, 17, 0.178);
    transition-duration: 0.6s;
}